* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.main-header{
  padding: 0px 50px;
}
.container {
  display: flex;
  background-color: #323232;

  justify-content: space-between;
  color: white;
  /* margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px; */
}

.header-left, .header-right{
  margin: 16px;
  font-family: sans-serif;
}

.main-nav{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Benjis {
  color: #323232;
  text-decoration: none;
  display: flex;

}

.a5 a {
  text-decoration: none;
  color: #323232;
}

.a5 {
  display: flex;
  justify-content: right;
  /* margin-right: 50px; */
  gap: 27px;


}

.a5 a:hover {
  color: rgb(104, 104, 0);
}

main{
  padding: 0px 50px;
}

.service-left{
      background-color: #323232;
      width: 600px;
      height: 400px;
      font-size: 20px;
      color: white;
      margin-left: 50px;
}
.content{
  position: relative;
  left: 150px;
  top: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.service-left img{
    margin-left: 490px;
    margin-top: -160px;
    width: 900px;
    height: 400px;
}

.services-list {
  padding: 60px;
  font-family: Arial, sans-serif;
}

.services-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 40px;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

.arrow {
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  color: #666;
  line-height: 1.7;
  max-width: 600px;
}

.services-table {
  border-top: 1px solid #777;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
  border-bottom: 1px solid #777;
  font-size: 14px;
}

.row span {
  padding-left: 10px;
}

.row.last {
  grid-template-columns: 1fr;
}

.banner-wrapper {
    display: flex; 
    width: 100%;
    height: 450px;
    align-items: stretch;
}

.banner-image img {
    width: 400px;
    height: 400px;
    object-fit: cover; 
}


.banner-content {
    flex: 1.5;
    background-color: #fccb76; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 220px;
    width: 600px;
    height: 400px;
}


h1 {
    font-family: sans-serif;
    color: #333;
    font-size: 35px;
    margin-bottom: 30px;
}


.black-button {
    background-color: #2c2c2c;
    color: white;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 50px;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.3s;
}

.black-button:hover {
    background-color: #000;
}

.main-footer {
    background-color: #262626;
    color: white;
    padding: 50px 8% 20px 8%;
    font-family: Arial, sans-serif;
}


.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 50px;
}


.footer-brand {
    font-size: 20px;
    font-weight: bold;
    color: #fccb76; 
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
}


.footer-info-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column; 
    gap: 25px;
}


.footer-nav {
    display: flex; 
    gap: 20px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-row {
    display: flex;
    font-size: 14px;
}

.label {
    width: 80px;
    color: #fff;
}

.value {
    color: #fff;
}


.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    background-color: white;
    color: #262626;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 10px;
}


.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 12px;
    color: #888;
}

